html {
  font-family: "Ubuntu Condensed", sans-serif;
  background-image: url(../images/starfield.png);
  color: #fff;
}

h1, p {
  text-shadow: 0 0 20px rgba(255, 255, 255, .7);
}

.rocket {
  background-image: url(../images/rocket.svg);
}

.btn {
  border: 3px solid #b4fff4;
  border-radius: 10px;
  color: #b4fff4;
  transition: all 200ms linear;
}

.btn:hover {
  color: #b4fff4;
  border: 3px solid #b4fff4;
  border-radius: 10px;
  background-color: rgba(180, 255, 244, .2);
}

.btn-bottom {
  height: 4em;
}

.btn-under {
  border-bottom: 3px solid #b4fff4;
}
