html {
  font-family: "Ubuntu Condensed", sans-serif;
  background-image: url(../images/starfield.png);
  color: #fff;
}

h1, p {
  text-shadow: 0 0 20px rgba(255, 255, 255, .7);
}

.rocket {
  background-image: url(../images/rocket.svg);
  bottom: 0;
  transition: all 200ms linear;
}

.btn {
  border: 3px solid #b4fff4;
  border-radius: 10px;
  color: #b4fff4;
  transition: all 200ms linear;
  padding: 0;
  height: 3.5em;
}

.btn:hover {
  color: #b4fff4;
  border: 3px solid #b4fff4;
  border-radius: 10px;
  background-color: rgba(180, 255, 244, .2);
}

.btn:hover .rocket {
  bottom: .25em;
}

.launcher {
  height: 3.5em;
}

.btn:active {
  height: 3em;
}

.btn:focus {
  color: #b4fff4;
  border-color: #b4fff4;
  background-color: rgba(180, 255, 244, .2);
}

.btn-under {
  border-bottom: 3px solid #b4fff4;
  padding: 0.35em .75em .5em;
}
